@use '../../../../../styles/colors.scss' as *;

.movieCardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 460px;
  border-radius: 16px;
  height: 420px;
  padding: 16px;
  background-color: rgba(#A1EEBD, 0.4);
  transition: transform 0.2s ease-in-out;
  cursor: pointer;

  &:hover {
    transform: scale(1.02);
  }

  .title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 12px;
    text-align: center;
  }

  .posterContainer {
    width: 90%;
    height: 300px;
    margin-bottom: 12px;
    border-radius: 4px;
    overflow: hidden;

    .poster {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .year {
    font-size: 14px;
    color: $dark-green;
  }
}
